:root {
  --font-family: "Roboto-Bold", Helvetica, sans-serif;
}

@font-face {
  font-family: "Roboto-Bold", Helvetica, sans-serif;
  src: local("/Roboto/Roboto-Bold.woff2") url(/Roboto/Roboto-Bold.woff2)
    format("woff2");
  font-weight: bold, normal;
  font-style: normal;
  font-variant: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: transparent;
  width: 100vw;
  height: 100vh;
  overflow: hidden hidden;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.twitch-embed-container {
  background: transparent;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.twitch-embed {
  font-family: var(--font-family);
  background: transparent;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
